html {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    padding:0px;
    margin:0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    padding:0px;
    margin:0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
  }